<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trevor.dao.RoomPokeInitMapper">

    <insert id="insertOne">
        INSERT  INTO
        `room_poke`(room_record_id ,room_poke ,)
        VALUES (#{roomPokeInit.roomRecordId} ,#{roomPokeInit.roomPoke})
    </insert>

    <update id="updateByRoomRecordId">


    </update>

    <select id="findStatus_0" resultType="com.trevor.domain.RoomPokeInit">
        select
        *
        from
        `room_poke_init`
        where
        status=0
    </select>

    <select id="findByByRoomRecordId" resultType="java.lang.Long">
        select
        room_record_id
        from
        room_poke
        where
        room_record_id in
        <foreach collection="ids" item="id"  open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

    <delete id="deleteByRoomRecordId">
        delete from
        room_poke
        where
        room_record_id=#{roomRecordId}
    </delete>


</mapper>