<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trevor.dao.RoomRecordMapper">

    <!-- 插入一条记录并返回主键 -->
    <insert id="insertOne">
        insert into
        `room_record`(`get_room_time` ,`room_auth` ,`room_state` ,`room_type` ,`room_config`)
        values (#{roomRecord.id} ,#{roomRecord.getRoomTime} ,#{roomRecord.roomAuth} ,#{roomRecord.state} ,#{roomRecord.roomType} ,#{roomRecord.roomConfig})
    </insert>

    <!-- 根据主键查询一条记录 -->
    <select id="findOneById" resultType="com.trevor.domain.RoomRecord">
        select
        id id,
        get_room_time getRoomTime,
        room_auth roomAuth,
        room_state state,
        room_type roomType,
        room_config roomConfig
        from
        `room_record`
        where
        id=#{id}
    </select>
    <select id="findRoomAuthIdByRoomId" resultType="java.lang.Long">
        select
        room_auth
        from
        `room_record`
        where
        id=#{roomId}
    </select>
</mapper>